body{
    margin: 0;
    background-color: cornsilk;
}

header{
    padding: 2px;
    background-color: brown;
    color: white;
    font-style:oblique
}

table{
    margin-left: 10px;
    margin-top: 30px;
    width: 98%;  
}

th{
    font-family: sans-serif;
    background-color: blanchedalmond;
}

.lista{
    color:darkblue;
}

button{
    width: 100px;
    background-color: gold;
}

a{
    text-decoration: none;
    color: black;
}