body{
    margin: 0;
    background-color: cornsilk;
}

header{
    padding: 2px;
    background-color: brown;
    color: white;
    font-style:oblique
}


h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 350px;
    margin-right: 20px;
    
}

h2, input{
    display: inline-block;
    
}

input{
    height: 20px;
    border-color: brown;
    background-color:bisque;
    color: black;
    
}

::placeholder{
    color: black;
}

button{
    margin-top: 25px;
    margin-left: 350px;
    border-radius: 30px;
    width: 80px;
    height: 40px;
    background-color: brown;
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.voltar{
    margin-left: 100px;
}

button:hover{
    background-color: darksalmon;;
}

a{
    text-decoration: none;
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}